---
on: push
name: Build and test
permissions:
  contents: write
jobs:
  build_and_test:
    name: Build and test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: arnested/setup-go@rc
        with:
          go-version-file: go.mod
      - name: Run go test
        uses: robherley/go-test-action@v0.7.1
        with:
          testArguments: -race -cover -covermode=atomic -coverprofile=coverage.txt ./...
      - name: Install changelog management tool
        run: go install github.com/goreleaser/chglog/cmd/chglog@main
      - name: Build changelog
        run: chglog init
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          args: release --snapshot

  nilaway:
    name: Nilaway
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: arnested/setup-go@rc
        with:
          go-version-file: go.mod
      - name: Install nilaway
        run: go install go.uber.org/nilaway/cmd/nilaway@latest
      - name: Run nilaway
        run: nilaway ./...
