---
name: Lint
on: pull_request

permissions:
  contents: read

jobs:
  actionlint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: reviewdog/action-actionlint@v1

  dockerfile:
    name: dockerfile
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Run hadolint
        uses: hadolint/hadolint-action@v3.3.0
        with:
          trusted-registries: docker.io

  markdownlint:
    name: markdown
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v22

  golangci:
    name: lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: arnested/setup-go@rc
        with:
          go-version-file: go.mod
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          install-mode: goinstall
          only-new-issues: true

  yamllint:
    name: Yamllint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Run Yamllint
        uses: frenck/action-yamllint@v1.5.0
        with:
          strict: true
