name: Lint
on: pull_request

permissions:
  contents: read

jobs:
  dockerfile:
    name: dockerfile
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Run hadolint
        uses: hadolint/hadolint-action@v3.3.0
        with:
          trusted-registries: docker.io

  markdownlint:
    name: markdown
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - name: Run markdownlint
      uses: DavidAnson/markdownlint-cli2-action@v21

  golangci:
    name: lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: arnested/go-version-action@v1
        id: go-version
      - name: Install Go ${{ steps.go-version.outputs.minimal }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ steps.go-version.outputs.minimal }}
      - run: go version
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          only-new-issues: true
