name: Security Checks
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  schedule:
    - cron: '0 15 * * 0'

permissions:
  contents: read
  actions: read
  pull-requests: read
  security-events: write

jobs:
  gosec:
    name: Golang Security Checker
    runs-on: ubuntu-24.04
    env:
      GO111MODULE: on
    steps:
      - name: Checkout Source
        uses: actions/checkout@v6
      - name: Run Gosec Security Scanner
        uses: securego/gosec@master
        with:
          args: '-no-fail -fmt sarif -out results.sarif -tests ./...'
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        with:
          # Path to SARIF file relative to the root of the repository
          sarif_file: results.sarif
  govulncheck:
    name: Govulncheck
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - uses: arnested/go-version-action@v1
      id: go-version
      with:
        patch-level: true
    - id: govulncheck
      uses: golang/govulncheck-action@master
      with:
        go-version-input: ${{ steps.go-version.outputs.latest }}
        output-format: sarif
        output-file: results.sarif
        repo-checkout: false
    - name: Fix SARIF format
      run: yq --inplace --output-format json '.runs |= map ({"results":[]} + .)' results.sarif
    - name: Upload SARIF file
      uses: github/codeql-action/upload-sarif@v4
      with:
        sarif_file: results.sarif
